.card {
  position: relative;
  padding: 1.5rem;
  padding-left: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--light-shade);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--border-radius);
    height: 100%;
    background-color: var(--brand-color);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  a {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    top: 0;
    left: 0;
  }
}
