.image {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  // Make sure next image component is also rounded
  > div {
    border-radius: var(--border-radius);
  }
}

.landscape {
  aspect-ratio: 16/10;
}

.portrait {
  aspect-ratio: 2 / 3;
}

.square {
  aspect-ratio: 1 / 1;
}
