@use "assets/css/breakpoints";

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;

  &.has__image {
    grid-template-columns: 1fr;

    @include breakpoints.size("medium") {
      grid-template-columns: repeat(auto-fit, minmax(calc(520px - 3rem), 1fr));
    }
  }
}

.imageWrapper {
  position: relative;
  display: flex;
  aspect-ratio: 16/8;

  // Make sure next image component is also rounded
  > div {
    border-radius: var(--border-radius);
  }

  // Default background color when loading
  // Else decorated images look strange on load
  img {
    background-color: var(--brand-contrast);
  }

  @include breakpoints.size("large") {
    aspect-ratio: 16/10;
  }
}

.reversed {
  @include breakpoints.size("large") {
    .content {
      grid-column: 2;
      grid-row: 1;
    }

    .imageWrapper {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.wideImage {
  @include breakpoints.size("large") {
    .content {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    .imageWrapper {
      aspect-ratio: 16/8;
      grid-column: 1 / 2;
      grid-row: 2;
    }
  }
}
