@use "assets/css/breakpoints";

.rating__bar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.25rem;

  @include breakpoints.size("small") {
    gap: 1rem;
  }
}

.blob {
  height: 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--brand-color);
  opacity: 0.4;
  flex: 1;

  @include breakpoints.size("small") {
    height: 1rem;
  }
}

.active {
  opacity: 1;
  background-color: var(--brand-color);
}
