@use "breakpoints";

// Grid width
.inner {
  width: 100%;
  max-width: 1150px;
  padding: 0 2rem;
  margin: 0 auto;
}

// space between each section on a page
.section {
  margin-bottom: 2rem;

  @include breakpoints.size("large") {
    margin-bottom: 12rem;
  }
}

.body-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
