:root {
  --brand-color: #5b69e5;
  --brand-contrast: #f6f9fc;
  --black: #1a1a1a;
  --white: #ffffff;
  --elevation: 0px 16px 20px rgba(0, 0, 0, 0.05),
    0px 8px 12px rgba(0, 0, 0, 0.1), 0px 1px 4px rgba(0, 0, 0, 0.15);
}
