:root {
  // Colors
  --brand-color: #5b69e5;
  --brand-contrast: #f6f9fc;
  --black: #1a1a1a;
  --white: #ffffff;

  // Font sizes
  --text-size-sm: 2rem;
  --text-size-md: 2rem;
  --text-size-lg: 2rem;
  --text-size-xl: 2rem;

  // Line height
  --text-lh-sm: 2rem;
  --text-lh-md: 2rem;
  --text-lh-lg: 2rem;
  --text-lh-xl: 2rem;
}
