@use "assets/css/breakpoints";

.section {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;

  &.has__image {
    grid-template-columns: minmax(0, 1fr);

    @include breakpoints.size("medium") {
      grid-template-columns: repeat(auto-fit, minmax(calc(520px - 3rem), 1fr));
    }
  }

  & p:last-child {
    margin-bottom: 0;
  }
}

.image {
  &,
  > * {
    max-height: 450px;
    width: 100%;
  }
}

.reversed {
  @include breakpoints.size("large") {
    .content {
      grid-column: 2;
      grid-row: 1;
    }
  }
}

.wideImage {
  @include breakpoints.size("large") {
    .content {
      grid-column: 1 / 2;
      grid-row: 1;
    }

    .image {
      grid-column: 1 / 2;
      grid-row: 2;

      &,
      > * {
        max-height: 600px;
      }
    }
  }
}
