@use "assets/css/breakpoints";

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  height: 48px;
  width: 48px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.previous {
  transform: rotate(180deg);

  &:hover {
    transform: scale(1.2) rotate(180deg);
  }
}

.imageContainer {
  border-radius: 8px;
  overflow: hidden;
}

.imageCollection {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.image {
  display: flex;
  aspect-ratio: 4/3;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;

  img {
    border-radius: 0;
  }
}

.modalContent {
  display: block;
  height: auto;
  width: 80vw;
  max-width: 1080px;
  max-height: 80vh;
}
