.header {
  margin-top: 2rem;
}

.navbar {
  display: flex;
  align-items: center;

  &__logotype {
    margin-right: 2rem;
    display: flex;
  }

  &__list {
    display: flex;
    align-items: center;

    &__item {
      list-style: none;
      margin-right: 2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
