.header {
  margin-top: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
}

// Logotype
.image {
  margin-right: 2rem;
  display: flex;
}

// Menu links
.list {
  display: flex;
  align-items: center;
}

.list__item {
  list-style: none;
  margin-right: 2rem;

  &:hover {
    text-decoration: underline;
  }
}
