.link {
  color: var(--brand-color);
  font-weight: 500;
  display: inline-flex;
  align-items: center;

  &:hover {
    & .icon {
      transform: translateX(25%);
      transition: ease-out 0.15s;
    }
  }
}

.text {
  margin-right: 0.5rem;
}

.icon {
  transition: ease-in 0.3s;
  > * {
    fill: var(--brand-color);
  }
}
