@use "assets/css/breakpoints";

.blogPost {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
  min-height: 180px;

  @include breakpoints.size("medium") {
    grid-template-columns: minmax(250px, 1fr) minmax(250px, 320px);
  }
}

.blogPostContent {
  flex: 1;
  grid-row: 2;

  @include breakpoints.size("medium") {
    grid-row: 1;
  }
}

.title {
  font-size: 2rem;
}

.imageWrapper {
  grid-row: 1;
  justify-self: start;
  max-width: 100%;
  width: 100%;
  position: relative;
  border-radius: 8px;
  aspect-ratio: 16/9;

  .image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    outline: 2px solid #1a1a1a;
    outline-offset: -2px;
  }

  @include breakpoints.size("medium") {
    justify-self: end;
    max-width: 320px;
  }
}
